<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.mg.app" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Мужичок-грузовичок</name>
    <description>
        Приложение сайта мужичок-грузовичок.рф
    </description>
    <author email="support@phonegap.com" href="https://xn----dtbckhdelflyecx2bh6dk.xn--p1ai/">
        Мужичок-грузовичок
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Fullscreen" value="false" />
    <preference name="orientation" value="portrait"/>
    <preference name="android-minSdkVersion" value="14" />
    <preference name="StatusBarOverlaysWebView" value="true" />


    <icon src="www/icon.png" />
    <platform name="android">
        <icon src="www/icon.png" density="ldpi" />
    </platform>

    <plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="~3.0.0" />
    <plugin name="cordova-plugin-statusbar" spec="~2.4.2" />
    <plugin name="cordova-plugin-geolocation" spec="~4.0.1" />
    <plugin name="cordova-plugin-dialogs" spec="~2.0.1" />
    <plugin name="cordova-plugin-device" spec="~2.0.2" />
    <plugin spec="https://github.com/katzer/cordova-plugin-local-notifications.git#53262c8" />

    <access origin="*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
