<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.mg.app" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Мужичок-грузовичок</name>
    <description>
        Приложение сайта мужичок-грузовичок.рф
    </description>
    <author email="support@phonegap.com" href="https://xn----dtbckhdelflyecx2bh6dk.xn--p1ai/">
        Мужичок-грузовичок
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Fullscreen" value="false" />
    <preference name="orientation" value="portrait"/>
    <preference name="android-minSdkVersion" value="14" />
    <preference name="StatusBarOverlaysWebView" value="true" />

    <plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="~3.0.0" />
    <plugin name="cordova-plugin-statusbar" spec="~2.4.2" />
    <plugin name="cordova-plugin-geolocation" spec="~4.0.1" />
    <plugin name="cordova-plugin-dialogs" spec="~2.0.1" />
    <plugin name="cordova-plugin-device" spec="~2.0.2" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.2" />
    <plugin spec="https://github.com/katzer/cordova-plugin-local-notifications.git#53262c8" />

    <plugin spec="https://github.com/greybax/cordova-plugin-native-spinner" />



    <preference name="ShowSplashScreenSpinner" value="false"/>

    <platform name="browser">
        <preference name="ShowSplashScreen" value="false" />
    </platform>



    <icon src="www/icon.png" />
    <platform name="android">
        <icon src="www/icon.png" density="ldpi" />
        <splash qualifier="land-ldpi" src="www/res/screen/android/drawable-land-ldpi-screen.png" />
        <splash qualifier="land-mdpi" src="www/res/screen/android/drawable-land-mdpi-screen.png" />
        <splash qualifier="land-hdpi" src="www/res/screen/android/drawable-land-hdpi-screen.png" />
        <splash qualifier="land-xhdpi" src="www/res/screen/android/drawable-land-xhdpi-screen.png" />
        <splash qualifier="land-xxhdpi" src="www/res/screen/android/drawable-land-xxhdpi-screen.png" />
        <splash qualifier="land-xxxhdpi" src="www/res/screen/android/drawable-land-xxxhdpi-screen.png" />
        <splash qualifier="port-ldpi" src="www/res/screen/android/drawable-port-ldpi-screen.png" />
        <splash qualifier="port-mdpi" src="www/res/screen/android/drawable-port-mdpi-screen.png" />
        <splash qualifier="port-hdpi" src="www/res/screen/android/drawable-port-hdpi-screen.png" />
        <splash qualifier="port-xhdpi" src="www/res/screen/android/drawable-port-xhdpi-screen.png" />
        <splash qualifier="port-xxhdpi" src="www/res/screen/android/drawable-port-xxhdpi-screen.png" />
        <splash qualifier="port-xxxhdpi" src="www/res/screen/android/drawable-port-xxxhdpi-screen.png" />
    </platform>




    <access origin="*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
