* {
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
body {
    font: 12px/18px 'Roboto', Arial, sans-serif;
    min-height: 100%;
}
.wrapper {
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
}

.start-page {
    background: #FFDD0A;
}
.main-logo {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-logo img {
    display: inline-block;
    width: 310px;
    height: 115px;
}
.main-logo h2 {
    font-weight: bold;
    line-height: normal;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #2B2A28;
    margin-top: 30px;
}

.main-page .wrapper {
    padding-top: 50px;
    box-sizing: border-box;
    background-color: #EFEFEF;
}
.header-fixed {
    height: 50px;
    background-color: #FFDD0A;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 100;
}
.header-fixed a {
    text-decoration: none;
    color: inherit;
    outline: none;
    font-size: 20px;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}
.header-fixed-center h2 {
    font-size: 20px;
    color: #000;
    font-weight: 500;
}

.advert-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}
.advert-list-item {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
}
.advert-list-item a {
    text-decoration: none;
    color: inherit;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
.advert-list-item h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10px;
}
.advert-list-item .date-item {
    font-size: 11px;
    color: #aba9a9;
    font-weight: 500;
    margin-bottom: 10px;
}
.advert-list-item .text-item {
    font-size: 14px;
    color: #5A5A5A;
    font-weight: 500;
    margin-bottom: 20px;
}
.advert-list-item .bottom-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.advert-list-item .bottom-item .bottom-item-user {
    color: #5A5A5A;
    font-size: 12px;
}
.advert-list-item .bottom-item .bottom-item-call a {
    display: flex;
    padding: 0px 20px;
    height: 30px;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
}
.advert-list-item .bottom-item .bottom-item-call a i {
    transform: rotate(100deg);
    margin-right: 5px;
}


.view-page .wrapper {
    padding-top: 50px;
    box-sizing: border-box;
}
.advert-view .advert-list-item {
    box-shadow: 0px 1px 1px rgba(153, 153, 153, 0.25);
}
.advert-item-address {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    color: #5A5A5A;
    margin-bottom: 0px;
}
.advert-item-address i {
    font-size: 22px;
    margin-right: 20px;
}
.advert-item-address span {
    font-size: 14px;
    font-weight: 500;
}
.route-item {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
}
.route-item i {
    padding: 0px 5px;
}
#y-map {
    width: 100%;
    height: 300px;
}
[class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
}


.add-page .wrapper {
    padding-top: 50px;
    box-sizing: border-box;
}
.order-form {

}
.order-form-row {
    padding: 20px 20px 10px;
}
.order-form-row label {
    color: #000;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
    font-weight: 500;
}
.order-form-row input {
    border: none;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 0px;
    font-family: 'Roboto';
    font-size: 16px;
    color: #000;
    border-bottom: 0.5px solid #999999;
    outline: none;
}
.order-form-row textarea {
    border: none;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 0px;
    font-family: 'Roboto';
    font-size: 16px;
    color: #000;
    border-bottom: 0.5px solid #999999;
    outline: none;
    resize: none;
    min-height: 75px;
}


.add-order-btn-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 95px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-order-btn-wrap.no-fix {
    position: relative;
}
.add-order-btn-wrap a {
    text-decoration: none;
    width: 275px;
    height: 45px;
    display: block;
    background: #FFDD0A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.add-order-btn-wrap a span {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
}
.add-order-btn-wrap button {
    border: 0;
    width: 275px;
    height: 45px;
    display: block;
    background: #FFDD0A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
}
.add-order-btn-wrap button span {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
}


.regionSelect-wrap {
    padding: 10px 20px 20px;
}
.regionSelect-wrap .liter {
    font-weight: 500;
    font-size: 20px;
    margin: 20px 0px 10px;
}
.regionSelect-wrap .link {

}
.regionSelect-wrap .link a {
    color: inherit;
    font-size: 15px;
    display: inline-block;
    margin: 5px 0px;
}
.current-region {
    padding: 20px 20px 20px;
    font-weight: 500;
    font-size: 20px;
    border-bottom: #999 .5px solid;
}
.current-region span {
    display: block;
    padding: 10px 0px 0px;
    text-decoration: underline;
}

#loading {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    left: 0;
}

.slideMenu {
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    display: none;
}
.close-slideMenu {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    padding: 5px;
    margin: 10px 10px 0px 0px;
    z-index: 100;
}
.slideMenu-content {
    padding: 20px 0px 20px;
}
.slideMenu-header {
    font-size: 20px;
    font-weight: 500;
}
.slideMenu-content a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.slideMenu-content ul {
    list-style-type: none;
}
.slideMenu-content ul li {
    margin-bottom: 10px;
}

.slideMenu-content ul li a {
    color: inherit;
    font-size: 18px;
    font-weight: 500;
}
.slideMenu-content ul li a i {
    margin-right: 10px;
    width: 25px;
}

.slideMenu-content a:hover {
    /*color: #f1f1f1;*/
}
.slideMenu-content ul li:nth-child(1) {
    border-bottom: #ececec 1px solid;
    margin-bottom: 20px;
}
.slideMenu-content ul li:nth-child(1) a {
    font-size: 22px;
}
.yes-login {
    display: none;
}
.header-fixed-right a {
    position: relative;
}
.header-fixed-right a > i.fa-check-circle {
    color: green;
    /*display: none;*/
    position: absolute;
    font-size: 12px;
    top: 0;
    left: 0;
    margin: 27px 0px 0px 27px;
}
.page-description {
    margin-bottom: 20px;
}
.remind-row {
    text-align: center;
}
.remind-row a {
    color: inherit;
    font-size: 14px;
}
.reg-row {
    text-align: center;
}
.reg-row a {
    border: 0;
    width: 275px;
    height: 45px;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    text-decoration: none;
    background-color: #b7b7b7;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
}

.chats-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}
.chats-list a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    margin: 0px 15px;
}
#telegram-chat a {
    background-color: #1da1f2;
    font-size: 30px;
}
#whatsup-chat a {
    background-color: #01e675;
    font-size: 30px;
}
#viber-chat a {
    background-color: #665ca7;
    font-size: 30px;
}
#whatsup-chat, #telegram-chat, #viber-chat {
    display: none;
}

.balance-main-row {
    padding: 20px;
}
.balance-main-current {
    font-size: 36px;
    font-weight: 500;
    white-space: nowrap;
    padding-right: 15px;
    text-align: center;
    padding-bottom: 5px;
    line-height: 1;
}
.balance-main-info {
    text-align: center;
    font-size: 14px;
    padding-bottom: 20px;
}

.balance-history {
    padding: 20px;
}
.balance-history h2 {
    text-align: center;
    margin-bottom: 20px;
}
.balance-history table {
    width: 100%;
    border-spacing: 0;
}
.balance-history table tr th {
    padding: 15px;
    text-transform: uppercase;
    /*background-color: #fdfafa;*/
    background-color: #ececec;
    color: #737373;
    text-align: left;
}
.balance-history table tr td {
    padding: 15px;
    font-weight: 500;
    font-size: 14px;
}
.balance-history table tbody tr:nth-child(2n) td {
    background-color: #fdfafa;
}
.balance-history table tr th:last-child, .balance-history table tr td:last-child {
    text-align: right;
}

.ajax_sms {
    color: #000;
    font-size: 15px;
    display: inline-block;
    margin-top: 13px;
}

/* checkbox */
.checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}
.checkbox__text {
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
}
.checkbox__text:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    border: #000 2px solid;
    transition: .2s;
    border-radius: 3px;
}
.checkbox__text:after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    top: -1px;
    left: 5px;
    width: 18px;
    height: 18px;
    color: #FFFFFF;
    transition: .2s;
    font-size: 14px;
}
.checkbox input:checked + .checkbox__text:before {
    background: #000;
}
.checkbox input:checked + .checkbox__text:after {
    /*left: 26px;*/
}
.checkbox input:focus + .checkbox__text:before {
    /*box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);*/
}
/* end checkbox */


.form-link {
    text-align: center;
    margin: 0 auto;
    color: inherit;
    font-size: 16px;
}

.limit-message {
    padding: 20px;
    text-align: center;
}
.limit-description {
    font-size: 14px;
    margin-bottom: 15px;
}
.limit-message h3 {
    font-size: 16px;
    margin-bottom: 15px;
}
.limit-tariff {
    font-size: 36px;
    font-weight: 500;
    white-space: nowrap;
    padding-right: 15px;
    text-align: center;
    padding-bottom: 5px;
    line-height: 1;

}


.popup-slider {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
}
.popup-slider-content {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1100;
    position: relative;
}
.swiper-container {
    width: 100%;
    min-height: 350px;
    padding-bottom: 40px;
}
.slide-button-next {
    background-color: #252525;
    color: #ffffff;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    outline: none;
    margin: 20px 0px 20px;

}
.skip-slider {
    text-align: center;
    font-size: 16px;
    color: #4C4C4C;
}
.swiper-pagination-bullet-active {
    background-color: #252525 !important;
}
.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.swiper-slide h2 {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 30px;
}
.swiper-slide h2 small {
    display: block;
    padding-top: 5px;
    font-size: 1rem;
    color: #646262;
}
.swiper-slide .app-row {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #252525;
    font-weight: 500;
    width: 250px;
    margin: 0px 0px 10px;
    padding: 10px 0px;
    border-bottom: #9c9c9c 1px solid;
}
.swiper-slide .app-row img {
    margin-right: 20px;
}
.popup-slider-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 1050;
}
.form-hint {
    text-align: center;
}
.tariff-list {
    display: flex;
    flex-direction: column;
}
.tariff-item {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f7d17c;
    box-sizing: border-box;
}
.tariff-label {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
    width: 140px;
    text-align: center;
}
.tariff-price button {
    border: none;
    background-color: #2c2c2c;
    color: #ffffff;
    font-weight: 500;
    border-radius: 3px;
    font-size: 18px;
    padding: 10px 0px;
    width: 120px;
    text-align: center;
}
.tariff-item:nth-child(2) {
    background-color: #f6cc63;
}
.tariff-item:nth-child(3) {
    background-color: #f2bf48;
}
.limit-message h3 {
    font-size: 20px;
}