* {
    margin: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
div {
    box-sizing: border-box;
}
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    min-height: 100%;
    -webkit-tap-highlight-color: transparent;
}
body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    /*background-color: #f7f7f7;*/
    color: #2c2928;
}
body.bar {
    padding-top: 55px;
    box-sizing: border-box;
}
body.bar.sub {
    padding-top: 110px;
}
a {
    color: #0054b9;
}
.text-center {
    text-align: center;
}
.nav-bar {
    background-color: #ffdd0a;
    height: 55px;
    width: 100%;
    /*padding: 0px 20px;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.nav-bar.sub {
    height: 110px;
}
.nav-bar-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    padding: 0 20px;
}
.nav-bar span {
    font-size: 22px;
    font-weight: 400;
}
.nav-bar a {
    text-decoration: none;
    font-size: 18px;
    color: inherit;
    padding: 5px;
    min-width: 25px;
    box-sizing: border-box;
}


.page-content {
    background-color: #FFFFFF;
    padding: 25px;
}
.page-content.b-center {
   /* display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;*/
    padding-top: 40px;
    height: 100%;
}
.page-content.b-center .form {
    width: 100%;
}

.form-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
    justify-content: space-between;
    flex-direction: column;
}
.form-row-item {
    /*margin-right: 15px;*/
    width: 100%;
    margin-bottom: 15px;
}
.form-row label {
    font-weight: 500;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

.form-row label span {
    font-weight: 400;
    font-size: 12px;
}
.form-row textarea {
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    border: #000000 2px solid;
    border-radius: 5px;
    resize: none;
    outline: none;
    font-family: inherit;
    font-size: 16px;
    min-height: 180px;
}
.form-row input {
    outline: none;
    font-family: inherit;
    font-size: 16px;
    box-sizing: border-box;
    padding: 12px 15px;
    min-width: 200px;
    border: #000000 2px solid;
    border-radius: 5px;
    width: 100%;
    max-width: 680px;
}
.form-row input[type="checkbox"] {
    width: auto;
}
.form-row button {
    display: block;
    font-weight: 500;
    background-color: #000;
    color: #fff;
    border: #000 2px solid;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    border-radius: 5px;
    padding: 12px 25px;
    font-family: inherit;
    cursor: pointer;
    outline: none;
}
.form-row select {
    outline: none;
    font-family: inherit;
    font-size: 16px;
    box-sizing: border-box;
    padding: 12px 15px;
    min-width: 200px;
    border: #000000 2px solid;
    border-radius: 5px;
    background-color: #FFFFFF;
    width: 100%;
}
.ajax_sms {
    color: #000;
    font-size: 15px;
    display: inline-block;
    margin-top: 13px;
}
/* checkbox */
.checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}
.checkbox__text {
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}
.checkbox__text:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    border: #000 2px solid;
    transition: .2s;
    border-radius: 3px;
}
.checkbox__text:after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    top: -1px;
    left: 5px;
    width: 18px;
    height: 18px;
    color: #FFFFFF;
    transition: .2s;
    font-size: 14px;
}
.checkbox input:checked + .checkbox__text:before {
    background: #000;
}
.checkbox input:checked + .checkbox__text:after {
    /*left: 26px;*/
}
.checkbox input:focus + .checkbox__text:before {
    /*box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);*/
}
/* end checkbox */
.form-row-item.error input, .form-row-item.error textarea {
    border-color: red;
}
.errorMessage {
    color: red;
}
.remind-link {
    color: #000;
    font-size: 15px;
    display: inline-block;
}

#login-btn {
    margin: 0 auto;
    width: 250px;
}
#reglink-btn {
    margin: 0 auto;
    width: 250px;
    background-color: #b7b7b7;
    border-color: #b7b7b7;
}
#remind-btn {
    margin: 0 auto;
    width: 270px;
}
.page-description {
    font-size: 15px;
    margin-bottom: 15px;
}

.balance-main-row {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    flex-direction: column;
}
.balance-main-current {
    font-size: 36px;
    font-weight: 500;
    white-space: nowrap;
    padding-right: 15px;
}
.balance-row {
    flex-direction: column;
    align-items: center;
}
.balance-row button {
    margin: 10px 0 0;
    width: 300px;
}
.balance-row input {
    width: 300px;
}
.balance-row > .error > input {
    border-color: red;
}
.page-content h2 {
    margin-bottom: 20px;
}

.page-content table {
    width: 100%;
    border-spacing: 0;
}
.page-content table tr th {
    padding: 20px;
    text-transform: uppercase;
    /*background-color: #fdfafa;*/
    background-color: #ececec;
    color: #737373;
    text-align: left;
}
.page-content table tr td {
    padding: 20px;
    font-weight: 500;
    font-size: 14px;
}
.page-content table tbody tr:nth-child(2n) td {
    background-color: #fdfafa;
}
.page-content table tr th:last-child, .page-content table tr td:last-child {
    text-align: right;
}

.page-info {
    padding: 20px;
}
.page-description {
    font-size: 15px;
}
.tx-center {
    text-align: center;
}
.order-list {
    background-color: #f7f7f7;
    padding: 20px 0px 0;
}
.order-list-item {
    background-color: #FFFFFF;
    padding: 20px;
    margin-bottom: 20px;
    border: #fff 2px solid;
}
.order-list-item:hover {
    border: #ffdd0a 2px solid;
}
.order-list-item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-item-date, .order-item-number {
    font-weight: 700;
    font-size: 13px;
    color: #737373;
}
.order-item-info {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    flex-direction: column;
}
.order-item-label {
    font-size: 13px;
    background-color: #ffdd0a;
    padding: 4px 13px;
    /*border-radius: 15px;*/
    border-radius: 5px;
    text-decoration: none;
    color: inherit;
}
.order-item-address {
    margin-left: 20px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.order-item-address img {
    margin-right: 10px;
    transform: scale(-1, 1);
}

.order-item-dates {
    margin-left: 20px;
    font-size: 13px;
    font-weight: 500;
}
.order-item-label, .order-item-address, .order-item-dates {
    margin: 5px 0px;
}
.order-item-dates i {
    margin: 0px 5px;
}
.order-item-text {
    font-size: 14px;
    margin-bottom: 20px;
}
.order-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order-item-bottom a {
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #737373;
    font-size: 13px;
    /*margin-right: 30px;*/
    outline: none;
}
.order-item-bottom a:hover {
    color: #000000;
}
.order-item-bottom a i {
    margin-right: 5px;
}
.order-item-bottom a .fa-phone {
    transform: rotate(-245deg);
}
.page-content .order-list-item {
    padding: 0px;
    margin-bottom: 15px;
    border-bottom: rgba(115,115,115,0.3) 1px solid !important;
}
.order-offers {
    margin-bottom: 25px;
}
.order-offers h2 {
    font-size: 16px;
}
.offer-row {
    padding: 15px 0px;
    border-bottom: #ececec 1px solid;
}
.offer-row:last-of-type {
    margin-bottom: 20px;
}
.offer-row-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 11px;
    font-weight: 500;
}
.offer-row-name {

}
.offer-row-name a {
    text-decoration: none;
}
.offer-row-date {

}
.offer-row-content {
    /*font-style: italic;*/
    font-size: 14px;
    padding: 5px 0px;
}
.rating-up {
    color: #07a23b;
    background: rgba(7,162,59,.1);
    border-radius: 2px;
    padding: 2px 4px;
}
.rating-down {
    color: #fe4d4a;
    background: rgba(254,77,74,.1);
    border-radius: 2px;
    padding: 2px 4px;
}
.offer-row-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.offer-row-price {
    font-weight: 500;
    font-size: 16px;
}
.offer-row-phone {
    font-size: 11px;
    background-color: #ffdd0a;
    padding: 3px 10px;
    /* border-radius: 15px; */
    border-radius: 2px;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
}
.offer-row-phone:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.br-theme-css-stars .br-widget {
    height: 28px;
    white-space: nowrap;
}
.br-theme-css-stars .br-widget a {
    text-decoration: none;
    height: 18px;
    width: 18px;
    float: left;
    font-size: 23px;
    margin-right: 5px;
}
.br-theme-css-stars .br-widget a:after {
    content: "\2605";
    color: #d2d2d2;
}
.br-theme-css-stars .br-widget a.br-active:after {
    color: #ffdd0a;
}
.br-theme-css-stars .br-widget a.br-selected:after {
    color: #ffdd0a;
}
.br-theme-css-stars .br-widget .br-current-rating {
    display: none;
}
.br-theme-css-stars .br-readonly a {
    /*cursor: default;*/
}
@media print {
    .br-theme-css-stars .br-widget a:after {
        content: "\2606";
        color: black;
    }
    .br-theme-css-stars .br-widget a.br-active:after,
    .br-theme-css-stars .br-widget a.br-selected:after {
        content: "\2605";
        color: black;
    }
}
.offer-row-name .br-wrapper {
    display: inline-block;
}
.offer-row-name .br-wrapper .br-widget {
    height: 14px;
}
.offer-row-name .br-wrapper .br-widget a {
    font-size: 16px;
    width: 14px;
    height: 14px;
    margin-right: 0px;
}
.starex-css {
    display: none;
}
.order-offers .toggle-offer {
    display: inline-block;
    font-weight: 500;
    background-color: #000;
    color: #fff;
    border: #000 2px solid;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 15px;
}
.order-offers .offer-form {
    display: none;
    margin-bottom: 20px;
    border-bottom: #ececec 1px solid;
}
.offer-form .form-row label {
    font-size: 17px;
    color: #737373;
    margin-bottom: 10px;
    font-weight: 700;
}
.offer-form .form-row label span {
    font-weight: 400;
    font-size: 15px;
}
.offer-form .form-row input {
    min-width: 150px;
    width: 150px;
}
.offer-form .form-row textarea {
    width: 100%;
    height: 100px;
    min-height: 100px;
}
.offer-form .form-row button {
    display: inline-block;
    font-weight: 500;
    background-color: #000;
    color: #fff;
    border: #000 2px solid;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 auto;
}
.offer-form .form-row:last-child {
    justify-content: flex-end;
}

#offer-success {
    max-width: 300px;
    text-align: center;
}
#offer-success h2 {
    margin-bottom: 20px;
    font-size: 18px;
}
#offer-success p {
    font-size: 14px;
}
.no-offers {
    margin-bottom: 20px;
    font-weight: 500;
}
.no-offer-reg {
    font-weight: 500;
    margin-bottom: 20px;
}
.page-phone {
    font-weight: 500;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}
.green-label {
    color: green;
}

.custom-fancy {
    /*display: none;*/
    border-radius: 3px;
    overflow: visible;
    padding: 0px;
    width: 95%;
}
.custom-fancy .fancybox-close-small {
    /*color: #FFFFFF;*/
    margin: -8px -8px 0px 0px;
    width: 25px;
    height: 25px;
    padding: 0px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 1;

}
.custom-fancy-content {
    /*padding: 20px 0px 10px;*/
}
.popup-phone {
    text-align: center;
    max-width: 435px;
}
.popup-phone h2 {
    margin-bottom: 20px;
    font-size: 18px;
}
.phone-popup-row {
    font-size: 14px;
}
.popup-phone .p-phone {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 28px;
}
.popup-phone p {
    font-size: 14px;
}
.phone-popup-money {
    font-size: 28px;
    font-weight: 500;
    margin: 15px 0px;
}
.phone-popup-protect {
    font-weight: 500;
    /*background-color: #d4edda;*/
    color: #155724;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}
.phone-popup-protect-text {
    /*text-align: justify;*/
    text-align: left;
    line-height: 1.2;
}
.phone-popup-protect-icon {
    font-size: 28px;
    width: 30%;
}
.popup-phone p a {
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}
.phone-popup-no-money {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 15px 0;
    font-size: 15px;
    color: #721c24;
    /*background-color: #f8d7da;*/
}
.phone-popup-no-money-icon {
    font-size: 28px;
    width: 15%;
    display: none;
}
.phone-popup-no-money-text {
    font-weight: 500;
}
.popup-phone .phone-btn {
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    background-color: #ffdd0a;
    color: #000000;
    padding: 10px 35px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
}
.popup-phone-pay {
    display: none;
}



.main-blocks {
    height: 100%;
    width: 100%;
}
.main-blocks {
    background-image: url(../img/app_bg.jpg);
    background-position: center;
    background-size: cover;
}
.main-blocks .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    /*background: url(../img/bg-main.jpeg) center no-repeat;
    background-size: cover;*/
}
.left-block {
   /* background: url(../img/bg-left.jpg) center no-repeat;*/
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-customer {
    text-align: center;
}
.main-customer-title {
    color: #000;
    padding-bottom: 30px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1;
}
.main-customer-subtitle {
    padding-bottom: 30px;
    width: 297px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 700;
}
.main-customer-button {
    cursor: pointer;
    width: 360px;
    color: #000;
    background-color: #ffdd0a;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 900;
    padding: 28px 66px;
    text-transform: uppercase;
    margin-bottom: 100px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    outline: none;
    border: none;
}
.main-customer-button:hover {
   /* background: #333;*/
}
.right-block {
   /* background: url(../img/bg-right.jpg) center no-repeat;*/
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-owner {
    text-align: center;
}
.main-owner-title {
    color: #fff;
    padding-bottom: 30px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1;
}
.main-owner-subtitle {
    color: #fff;
    padding-bottom: 30px;
    width: 297px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 700;
}
.main-owner-button {
    cursor: pointer;
    width: 360px;
    color: #000;
    background-color: #ffdd0a;
    border-radius:10px;
    font-size: 16px;
    font-weight: 900;
    padding: 28px 66px;
    text-transform: uppercase;
    margin-bottom: 100px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    outline: none;
    border: none;
}
.main-owner-button:hover {
    background: #f5e258;
}
.main-customer-button, .main-owner-button {
    padding: 20px 50px;
    font-size: 14px;
    width: 300px;
}
.left-block, .right-block {
    background: none;
}
.main-blocks {
    background-image: url(../img/app_bg.jpg);
    background-position: center;
    background-size: cover;
}
.main-customer-title,.main-owner-title {
    color: #fff;
    font-size: 32px;
}
.main-customer {
    padding: 50px 0 0;
}
.main-customer-subtitle, .main-owner-subtitle {
    display: none;
}
.fancybox-active {
    height: 100%;
}

.customer-btns-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#customer-buttons {
    width: 95%;
    margin-bottom: 20px;
}
.customer-btns-list h2 {
    font-size: 18px;
    margin-bottom: 25px;
    text-align: center;
    background-image: linear-gradient(to right, #ffdc0c, #fed509, #fecd07, #fcc606, #fbbf07);
    width: 100%;
    min-width: 100%;
    padding: 10px 20px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border:none;
}
.customer-btns-list select {
    display: block;
    font-weight: 500;
    background-color: #FFFFFF;
    color: #000;
    border: #000 1px solid;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 25px;
    outline: none;
    font-family: inherit;
    box-sizing: border-box;
    width: 90%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/_select.png) 95% 50% no-repeat;
}
.customer-btns-list button {
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: #000;
    background-image: linear-gradient(to right, #ffdc0c, #fed509, #fecd07, #fcc606, #fbbf07);
    text-align: center;
    display: block;
    width: 90%;
    font-size: 17px;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
}
.customer-btns-list a {
    display: block;
    font-weight: 500;
    color: #000;
    border: #000 2px solid;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 25px;
}
.customer-btns-list a:last-child {
    margin-bottom: 0px;
}
.customer-btns-list a.black-btn {
    background-color: #000;
    color: #fff;
}


.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }


.order-filter {
    background-color: #FFFFFF;
    padding: 25px;
    margin-bottom: 20px;
}
.order-filter h2 {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}
.order-filter h2 span {
    font-weight: 400;
    font-size: 14px;
}
.order-filter-selectors {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.order-filter-selector {
    display: inline-flex;
    align-items: center;
    border: #e6e6e6 2px solid;
    padding: 5px 15px;
    /*border-radius: 20px;*/
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    color: inherit;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 10px;
    justify-content: center;
}
.order-filter-selector:hover {
    border-color: #ffdd0a;
}
.order-filter-selector.active {
    border-color: #ffdd0a;
}
.order-filter-selector.active:after {
    display: block;
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 18px;
    margin: -2px -2px 0 0;
}
.order-filter-selector img {
    transform: scale(-1,1);
    margin-right: 5px;
}


.sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: -100%;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 45px;
}

.sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav ul li {
    margin-bottom: 10px;
}

.sidenav ul li a {
    color: inherit;
    font-size: 18px;
    font-weight: 500;
}
.sidenav ul li a i {
    margin-right: 10px;
    width: 25px;
}

.sidenav a:hover {
    /*color: #f1f1f1;*/
}
.sidenav ul li:nth-child(1) {
    border-bottom: #ececec 1px solid;
    margin-bottom: 20px;
}
.sidenav ul li:nth-child(1) a {
    font-size: 22px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.sub-header {
    position: relative;
    background-color: #ffdd0a;
}
.swipe-tabs {
    display: flex;
    overflow: scroll;
}
.swipe-tab {
    padding: 15px 15px;
    white-space: nowrap;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    border-bottom: #ffdd0a 2px solid;
}
.swipe-tab img {
    margin-right: 10px;
}
.swipe-tab.active {
    border-bottom-color: #000;
}
