.main-page {
    min-height: 100%;
}
.main-header {
    background-color: #ffdd0a;
    text-align: center;
    padding: 10px 0px;
}
.header-contacts-phone a {
    color: #2c2928;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.header-login {
    margin-bottom: 5px;
}
.header-login-menu {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
}
.header-login-menu a {
    color: #2c2928;
    padding: 0 5px;
    text-decoration: none;
}