* {
    margin: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
div {
    box-sizing: border-box;
}
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    min-height: 100%;
}
body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    background-color: #f7f7f7;
    color: #2c2928;
}
body.bar {
    padding-top: 50px;
}
.nav-bar {
    background-color: #ffdd0a;
    height: 55px;
    width: 100%;
    padding: 0px 20px;
    position: fixed;
    top: 0;
    left: 0;
}
.nav-bar-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.nav-bar span {
    font-size: 22px;
    font-weight: 500;
}
.nav-bar a {
    text-decoration: none;
    font-size: 18px;
    color: inherit;
    padding: 5px;
}


.page-content {
    background-color: #FFFFFF;
    padding: 25px;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
    justify-content: space-between;
    flex-direction: column;
}
.form-row-item {
    margin-right: 15px;
    width: 100%;
}
.form-row label {
    font-weight: 500;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}
.form-row input {
    outline: none;
    font-family: inherit;
    font-size: 16px;
    box-sizing: border-box;
    padding: 12px 15px;
    min-width: 200px;
    border: #000000 2px solid;
    border-radius: 5px;
    width: 100%;
    max-width: 680px;
}
.ajax_sms {
    color: #000;
    font-size: 15px;
    display: inline-block;
    margin-top: 13px;
}
/* checkbox */
.checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}
.checkbox__text {
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
}
.checkbox__text:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    border: #000 2px solid;
    transition: .2s;
    border-radius: 3px;
}
.checkbox__text:after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    top: -2px;
    left: 5px;
    width: 18px;
    height: 18px;
    color: #FFFFFF;
    transition: .2s;
}
.checkbox input:checked + .checkbox__text:before {
    background: #000;
}
.checkbox input:checked + .checkbox__text:after {
    /*left: 26px;*/
}
.checkbox input:focus + .checkbox__text:before {
    /*box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);*/
}
/* end checkbox */